.navigation{
    height:90px;
    width:100%;
    background-color:rgba(60, 179, 114, 0.692);

}
.img1{
    height:120px;
    width:120px;
    position: relative;
    top:-20px;
    left:5px;
}

.a1{
    text-decoration: none;
    color:whitesmoke;
    position: relative;
    left:1020px;
    top:-10px;
    font-size: 25px;
}
.a1:hover{
    color: darkgreen;
    background-color: whitesmoke;
    padding:5px;
    cursor: pointer;
}
.navigation1{
    height:90px;
    width:100%;
    background-color:rgba(60, 179, 114, 0.692);

}
.navigation2{
    height:90px;
    width:100%;
    background-color:rgba(60, 179, 114, 0.692);

}
.navigation3{
    height:90px;
    width:100%;
    background-color:rgba(60, 179, 114, 0.692);

}
.navigation4{
    height:90px;
    width:100%;
    background-color:rgba(60, 179, 114, 0.692);

}
.navigation5{
    height:90px;
    width:100%;
    background-color:rgba(60, 179, 114, 0.692);

}
.Carpenter{
    width:50px;
    height:50px;
}




